 html {
    background-color: #4e43e6;
} 

.btn-choice {
    background-color: rgb(255, 218, 176);
    color: orangered;
    margin-right: 100px;
    border: none;
    width: 100px;
    height: 100px;
    font-size: 50px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
}

#btns {
    width: 66.66666666666%;
    margin: 0 auto;
}

.btn-choice:hover {
    background-color: rgb(218, 141, 0);
    transform: scale(1.1);
    color: white;
    border-bottom: 3px solid white;
}

.btn-choice:active {
    border: none;
    transform: scale(1);
}

#valuearea {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90px 90px;
}

#com-count {
    background-color: #ad65e0;
    border: 1px solid violet;
    margin-right: 200px;
    margin-left: 50px;
    text-align: center;
}

#player-count {
    background-color: #e250d8;
    border: 1px solid violet;
    margin-right: 200px;
    margin-left: 50px;
    text-align: center;
}